<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <base href="http://localhost:9000/" />  -->
    <!--部署服务器地址，解决不同路由引用同一静态资源文件-->
    <title><%= htmlWebpackPlugin.options.title %></title>
	
  </head>
  <body>
      <div id="main"></div>
  </body>
</html>